langchain==0.3.15
langchain_core==0.3.31
langchain_groq==0.2.3
langgraph==0.2.67
numpy==2.2.2
pandas==2.2.3
prompt==0.4.1
pydantic==2.10.6
python-dotenv==1.0.1
redis==5.2.1
streamlit==1.37.1
streamlit_cookies_manager==0.2.0
textgrad==0.1.6
tqdm==4.66.5
